.screen-container {
  width: calc(100% - 100px);
  height: 100%;
  border-radius: 30px;
  background-color: #23063a;
  opacity: 1;
  background-image: repeating-radial-gradient(
      circle at center left,
      transparent 0,
      #541d5f 100px
    ),
    repeating-linear-gradient(#21024455, #3e1e33);
}

.flex {
  display: flex;
}
